.social {
	font-size: 0;
	@include user-select(none);
	li {
		display: inline-block;
		width: 32px;
		height: 32px;
		margin-right: 8px;
		border:1px solid #666d89;
		@include border-radius (50%); 		
		&:hover {
 			width: 30px;
 			height: 30px;
 			border:2px solid #676C81;
 			cursor:pointer;
			a {
				@include opacity(0.9);
			}
 		}
		a {
			display: block;
			width: 14px;
			height: 14px;
			margin: 8px auto;
			//background-image:url(../../images/social/social.png);
			background-repeat: no-repeat;
			@include transition-property (background-image);
			@include transition-duration (400ms);
			@include opacity(0.8);
		}
		&:first-child{
			a {
				width: 8px;
				@extend.social-fb;
			} 	 
		}
		&:nth-child(2) {
			a {
				@extend.social-g; 
			}	
		}
		&:nth-child(3) {
			a {
				height: 12px; 
				@extend.social-tw; 
			}	
		}
		&:last-child {
			margin-right: 0;
			a {
				@extend.social-in; 
			}
		}
	}
}		
		  	 