footer {
	width: 100%;
	background-color: #303441;
	font-family: 'Lato', sans-serif;
	font-weight: normal;		
    @include clearfix;
    .container {
		.copyright {
			float:left;			
			font-size:0;
			@include user-select(none);
			li {
				display:inline-block;
				color: #666d89;			
				font-size: 12px;
				line-height: 76px;
				&:after {
					display: inline-block;
					width: 2px;
					height: 2px;
					margin-left:3px;
					margin-right:3px;
					margin-bottom: 2px;
					background-color: #3d4253;
					content: "";
					@include border-radius (50%);							
				}
				&:last-child {
					&:after {
						display: none;
					}	
				}
			}
		}	
		.social {
			float: right;
			margin-top: 22px;	
		}	
	}
}	