.navigation {
	margin-top: 19px;
	font-size: 0;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	li {
		display: inline-block; 
		margin-right: 9px;
		padding: 0 8px;
		border:1px solid #666d89;
		font-size: 12px;
		line-height: 20px;
		@include border-radius (5px);
		&:hover {					
			border:1px solid #ffffff;
			a {
				color:#ffffff;
			}
		}
		a {
			color:#666d89;
			text-decoration: none;
		}
	}
}