.navigation {
	margin-top: 19px;
	font-size: 0;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	@include user-select(none);
	li {
		display: inline-block; 
		margin-right: 9px;
		padding: 0 8px;
		border:1px solid #666d89;
		font-size: 12px;
		line-height: 20px;
		cursor: pointer;
		@include border-radius (5px);
		@include transition-property (all);
		@include transition-duration (200ms);
		&:hover {					
			border:1px solid #ffffff;
			a {
			  color:#ffffff;
			}
		}
		a {		  
		  text-decoration: none;
		  color:#666d89;
		}
	}
}