.quote {
	width: 100%;
	border-bottom:6px solid #ea676b;
	background-color: #eb5055;
	color:#f0d8d9;
	@include clearfix;
	.content_quote {
		width: 1019px;
		height: 680px;
		margin: 0 auto;
		@include box-sizing(border-box);
		h2 {
			@extend .title_h2;
		}
		p {
			@extend .descrip;
		}
		form {
			float: left;
			width: 619px;
			padding-top: 51px;
			padding-left:40px;
			font-family: "Lato Regular";
			font-size: 12px;
			input {
				width: 603px;
				height: 38px;
				margin-bottom:16px;
				padding-left:16px;
				border:none;
				@include border-radius (5px);
				outline:none;
				background-color: #ca4549;
				@extend .placeholder;
				&:focus {
					background-color: #e7b9ba;
					@extend .placeholder_fc;
				}
			}
			textarea {
				width: 603px;
				height: 186px;
				padding-left:16px;
				padding-top:15px;
				border:none;
				@include border-radius (5px);
				outline:none;
				background-color: #ca4549;
				resize:none;
				@extend .placeholder;
				&:focus {
					background-color: #e7b9ba;
					@extend .placeholder_fc;
				}
			}
			button {
				float: right;
				margin-top:10px;
				//margin-bottom:50px;
				padding:5px;
				border:2px solid #aa3b3e;
				@include border-radius (5px);
				outline:none;
				background-color: #ca4549;
				color:#6a3739;
				font-weight: bold;
				text-align: center;
				&:hover {
					border:3px solid #aa3b3e;
					background-color: #46292a;
					color: #000000;
					cursor: pointer;
				}
			}
		}
		.contact{
			float: right;
			width: 301px;
			padding-right:40px;
			padding-top: 51px;
			h3 {
				@extend .title_h3;
			}
			p {
				@extend .text_people;
			}
			ul {
				padding-top:29px;
				li {
					padding-bottom: 14px;
					font-size: 12px;
					font-family: "Lato Regular";					
					a {
						color:#f0d8d9;
						text-decoration: none;
					}
					img {
							padding-right:15px;
					}
				}
			}
		}	
	}
}