input {
	width: 100%;
	height: 38px;
	margin-bottom:16px;
	padding-left:16px;
	border:none;
	outline:none;
	background-color: #ca4549;
	@include border-radius (5px);
	@include user-select(none);
	@include box-sizing (border-box);
	@include placeholder {
		font-family: 'Lato', sans-serif;
		font-weight: normal;
		font-size: 12px;
		color: #f48c8f
	}
	&:focus {
		background-color: #e7b9ba;
		font-size: 12px;
		color: #7D3C3C;
		@include placeholder {
			color: transparent;
		}
		@include transition-duration (1000ms);
	}
}