.descrip {
	padding-top:32px;
	font-size: 18px;
    font-family: "Lato Light";
    line-height: 30px;
}
.text_people {
	padding-top:18px;
	font-size: 12px;
	font-family: "Lato Regular";
	line-height:20px;
	text-align: justify;
}		