textarea {
	width: 603px;
	height: 186px;
	padding-left:16px;
	padding-top:15px;
	border:none;
	outline:none;
	background-color: #ca4549;
	resize:none;
	@include border-radius (5px);
	@include user-select(none);
	@include placeholder('Lato', normal, 12px, #f48c8f);
	&:focus {
		background-color: #e7b9ba;
		color: #7D3C3C;
		@include placeholder ('Lato', normal, 12px, transparent);
		@include transition-duration (1000ms);
	}
}