.about {
	width: 100%;
	border-bottom:7px solid #ffffff;
	background-color: #f2f2f2;
	color:#666d89;
	@include clearfix;
	.container {
		//height: 734px;
		padding-top: 67px;
		padding-bottom: 67px;
		@include box-sizing(border-box);
		.people {
			display: inline-block;
			margin-top:51px;
			font-size: 0;
			figure {
				display: inline-block;
				width: 300px;
				margin-right:15px;
				&:last-child {
					margin-right:0px;
				}
				figcaption {
					padding-top:20px;
					ul {
						@extend .button;
						float: left;
					}
				}
			}	
		}
	}
}