/* line 17, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../scss/widgets/_header.scss */
header {
  width: 100%;
  background-color: #A9DFE8;
}
/* line 4, ../scss/widgets/_header.scss */
header nav {
  width: 800px;
  margin: auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 10, ../scss/widgets/_header.scss */
header nav > a img {
  float: left;
  width: 50px;
}
/* line 15, ../scss/widgets/_header.scss */
header nav ul {
  float: right;
  font-size: 0px;
}
/* line 18, ../scss/widgets/_header.scss */
header nav ul li {
  display: inline-block;
  font-size: 16px;
  line-height: 50px;
  margin: 0 5px;
}
/* line 23, ../scss/widgets/_header.scss */
header nav ul li a {
  text-decoration: none;
  color: #3A568A;
}

/* line 2, ../scss/widgets/_figure.scss */
body figure {
  position: relative;
  overflow: hidden;
  width: 250px;
  border: 1px solid brown;
}
/* line 8, ../scss/widgets/_figure.scss */
body figure:hover:before {
  top: 0px;
  left: 0px;
}
/* line 12, ../scss/widgets/_figure.scss */
body figure:hover:after {
  top: 250px;
  left: 100px;
}
/* line 16, ../scss/widgets/_figure.scss */
body figure:hover figcaption {
  left: 0;
}
/* line 20, ../scss/widgets/_figure.scss */
body figure:before {
  position: absolute;
  top: 250px;
  left: 100px;
  display: block;
  width: 30px;
  height: 30px;
  background-color: blue;
  content: '';
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1000ms;
  -moz-transition-duration: 1000ms;
  -o-transition-duration: 1000ms;
  transition-duration: 1000ms;
}
/* line 33, ../scss/widgets/_figure.scss */
body figure:after {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 30px;
  height: 30px;
  background-color: chocolate;
  content: '';
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1000ms;
  -moz-transition-duration: 1000ms;
  -o-transition-duration: 1000ms;
  transition-duration: 1000ms;
}
/* line 47, ../scss/widgets/_figure.scss */
body figure img {
  width: 100%;
}
/* line 50, ../scss/widgets/_figure.scss */
body figure figcaption {
  position: absolute;
  top: 0;
  left: -250px;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(117, 143, 255, 0.7);
}
/* line 58, ../scss/widgets/_figure.scss */
body figure figcaption h2 {
  font-size: 24px;
}
/* line 61, ../scss/widgets/_figure.scss */
body figure figcaption p {
  font-size: 14px;
}
/* line 66, ../scss/widgets/_figure.scss */
body .some {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  -webkit-box-shadow: 0 2px 3px 3px rgba(255, 255, 255, 0.5), inset 0 2px 3px 3px rgba(0, 0, 255, 0.5);
  -moz-box-shadow: 0 2px 3px 3px rgba(255, 255, 255, 0.5), inset 0 2px 3px 3px rgba(0, 0, 255, 0.5);
  box-shadow: 0 2px 3px 3px rgba(255, 255, 255, 0.5), inset 0 2px 3px 3px rgba(0, 0, 255, 0.5);
  background-color: #a90329;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFA90329', endColorstr='#FF6D0019');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a90329), color-stop(44%, #8f0222), color-stop(100%, #6d0019));
  background-image: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background-image: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background-image: -o-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background-image: linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
}
