.royalSlider {
	width: 100%;
	height: 595px;
	background-color: #eb5055!important;
	border-bottom:10px solid #ea676b!important;

	.rsOverflow.grab-cursor {
		width: 100% !important;
		background-color: #eb5055!important;
	
		.rsSlide {
			background: #eb5055!important;
			}
	}	
}
.royalSlider .rsDefault .rsHor .rsWithBullets {
	border-bottom:10px solid #ea676b!important;
}