body {	
	.container {
		width: 940px;
		margin:auto;
		h2 {
			font-size: 30px;
			font-family: 'Lato-Black';
		}
		h3 {
			font-size: 18px;
			font-family: 'Lato-Black';
		}
		.description {
			margin-top: 32px;
			font-size: 18px;
		    font-family: 'Lato', sans-serif;
			font-weight: lighter;
		    line-height: 30px;
		}
		.text-small {
			margin-top: 18px;
			font-size: 12px;
			font-family: 'Lato', sans-serif;
			font-weight: normal;
			line-height:20px;
			text-align: justify;
		}	
	}
}